body{
    color: #2D712A;
    background-color: #CAFFFF;
}

button{
    color: #2D712A;
    background-color: #CAFFFF;
}

#text{
    font-size: 1.5em;
    line-height: 1.2em;
}

/*-------------Desktop-----------------*/ 

@media screen and (min-width: 900px) {

section{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 60%;
}

#text{
    margin-bottom: 10em
}

}