#weatherApp{
    border: solid #000 .1em;
    display: flex;
    flex-direction: column;
    width: 50em;
    height: 40em;
}

#current{
    border-bottom: solid #000 .1em;
}

#hourly{
    border-bottom: solid #000 .1em;
}

#hourly1,#hourly2,#hourly3,#hourly4{
    border-right: solid #000 .1em;
}

#daily1,#daily2,#daily3,#daily4{
    border-right: solid #000 .1em;
}

#hourly, #daily{
    display: flex;
    flex-direction: row;
}